* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 52px;
}

.main {
  position: relative;
  transition: z-index .2s;
  transition-delay: 1s;
}

.content-in {
  padding: 18px 13px 0;
}

.captcha-title {
  font-size: 25px;
  line-height: 31px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.form-submit {
  display: block;
  width: 100%;
  outline: none;
  height: 73px;
  line-height: 73px;
  border-radius: 10px;
  border: 2px solid #a33c33;
  background-image: linear-gradient(to top, #882211 0%, #a33c33 55%, #882211 100%);
  color: #ffffff;
  font-family: "Open Sans";
  text-align: center;
  cursor: pointer;
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 3px 2px 0px rgba(0, 0, 0, .6);
  margin-bottom: 45px;
}