.checkbox-wrap {
  margin-bottom: 22px;

  &.first {
    margin-top: 20px; // Костыль
  }
}

.form-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 30px;
  outline: none;
  margin-right: 20px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff url(../images/samples/checkbox.png) no-repeat left bottom;
  }

  &:checked {
    &:after {
      background: #fff url(../images/samples/checkbox-checked.png) no-repeat left bottom;
    }
  }
}