.form-input-desc {
  font-size: 20px;
  line-height: 19px;
  color: #000;
  margin-bottom: 5px;

  span,
  a {
    color: #882211;
  }

  &.captcha-desc {
    line-height: 31px;
    margin-top: 12px;
    margin-bottom: 35px;
  }
}