.form-label {
  display: block;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $form-color;
  text-shadow: -1px 1px 0 #ffffff;
  margin-bottom: 15px;
  outline: none;

  &.checkbox-label {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 57px);
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-shadow: none;
    color: #000;
  }
}