.notification {
  background: #d8d8d8 url(../images/samples/notification-icon.png) no-repeat 15px center;
  padding-left: 100px;
  min-height: 64px;
  padding: 10px 0 10px 100px;

  span {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
  }
}