<!-- Главная страница -->
{% set title = "Регистрация" %}
{% set page = "mainpage" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
  <div class="page-title">Регистрация</div>
  <div class="notification">
    <span>Сработала защита от автоматической регистрации</span>
  </div>
  <div class="content-in">
    <form action="#" method="post">
      <label for="last-name-input" class="form-label">Фамилия</label>
      <input type="text" name="user-last-name" class="form-input" id="last-name-input">
      <label for="first-name-input" class="form-label">Имя</label>
      <input type="text" name="user-first-name" class="form-input" id="first-name-input">
      <label for="middle-name-input" class="form-label">Отчество</label>
      <input type="text" name="user-middle-name" class="form-input" id="middle-name-input">
      <label for="phone-input" class="form-label">Введите номер мобильного телефона</label>
      <div class="form-double-inputs">
        <input type="text" name="user-phone-code" class="form-input short" id="phone-input-country" placeholder="(+7)">
        <input type="text" name="user-phone" class="form-input long" id="phone-input" placeholder="999-99-99">
      </div>
      <div class="form-input-desc">
        <span>Поле обязательно для заполнения</span><br>
        Введите номер телефона в формате:<br>
        страна, оператор, номер
      </div>
      <label for="currency-input" class="form-label">Выберите валюту рассчётов</label>
      <select class="form-select" name="user-currency" id="currency-input">
        <option value="tenge">Тенге</option>
        <option value="dollars">Доллары</option>
        <option value="euro">Евро</option>
      </select>
      <label for="email-input" class="form-label">E-mail</label>
      <input type="email" name="user-email" class="form-input" id="email-input">
      <div class="form-input-desc"><span>Укажите реальный E-mail адрес.</span> Он потребуется для восставновления логина и пароля!</div>
      <label for="password-input" class="form-label">Пароль</label>
      <input type="password" name="user-password" class="form-input" id="password-input">
      <div class="form-input-desc">Пароль должен состоять хотя бы из 6 символов и содержать минимум одну цифру и одну букву</div>
      <label for="re-password-input" class="form-label">Повторно пароль</label>
      <input type="password" name="user-re-password" class="form-input" id="re-password-input">
      <label for="security-question-input" class="form-label">Контрольный вопрос</label>
      <select class="form-select" name="user-security-question" id="security-question-input">
        <option value="mother-last-name">Девичья фамилия Вашей матери</option>
        <option value="mother-last-name">Девичья фамилия Вашей матери</option>
        <option value="mother-last-name">Девичья фамилия Вашей матери</option>
      </select>
      <label for="security-answer-input" class="form-label">Ответ на контрольный вопрос</label>
      <input type="text" name="security-answer" class="form-input" id="security-answer-input">
      <div class="checkbox-wrap first">
        <input type="checkbox" class="form-checkbox" name="rules" value="confirm" id="rules-checkbox">
        <label for="rules-checkbox" class="form-label checkbox-label">Я подтверждаю, что прочитал Правила букмекерской конторы "Олимп" и согласен с ними.</label>
      </div>
      <div class="checkbox-wrap">
        <input type="checkbox" class="form-checkbox" name="adult" value="confirm" id="adult-checkbox">
        <label for="adult-checkbox" class="form-label checkbox-label">Я подтверждаю, что мне уже исполнилось 18 лет (для жителей Казахстана - 21 год)</label>
      </div>
      <div class="captcha-title">Подтвердите, что Вы не робот</div>
      <div class="g-recaptcha" data-sitekey="6LecdikUAAAAACmJUdacNqpqT-seVRzrRv7w1maf" style="transform: scale(1.28) translateX(43px)"></div>
      <div class="form-input-desc captcha-desc">Если ничего не отображается или возникла проблема c Capcha, пожалуйста используйте <a href="#">другой метод</a> подтверждения</div>
      <input type="submit" class="form-submit">
    </form>
  </div>
{% endblock %}
