.form-input {
  display: block;
  width: 100%;
  height: 53px;
  border-radius: 2px;
  border: 1px solid #959595;
  outline: none;
  font-family: Tahoma;
  font-size: 27px;
  line-height: 100%;
  color: $form-color;
  padding: 0 10px;
  font-weight: 700;
  margin-bottom: 8px;

  &:focus {
    border-color: $brand-color;
  }

  &.short {
    display: table-cell;
    width: 85px;
    margin-right: 10px;
  }

  &.long {
    display: table-cell;
    width: calc(100% - 100px);
  }
}