<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>{{title}}</title>

  <!-- build:css styles/vendor.min.css -->
  <!-- Сюда вставить стили из библиотек -->
  <!-- endbuild -->
  
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css" />
  <!-- endbuild -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

  <!--[if lt IE 10]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  <!-- .wrapper -->
    <main class="main">
      {% block content %}{% endblock %}
    </main><!-- end .content -->
  {% include "footer/_footer.html" %}

  <!-- build:js scripts/vendor.min.js -->
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
  <!-- endbuild -->
  
  <!-- build:js scripts/main.min.js -->
  <script src="scripts/main.js"></script>
  <script src="scripts/jquery.niceselect.min.js"></script>
  <!-- endbuild -->

</body>

</html>